<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<mapping class="com.wangdm.tutorial.hibernate.entity.Category"/>
        <mapping class="com.wangdm.tutorial.hibernate.entity.AttributeName"/>
        <mapping class="com.wangdm.tutorial.hibernate.entity.AttributeValue"/>
        <mapping class="com.wangdm.tutorial.hibernate.entity.Course"/>
        <mapping class="com.wangdm.tutorial.hibernate.entity.CourseAttribute"/>
	</session-factory>
</hibernate-configuration>